<a href="https://colab.research.google.com/github/Revanth-Desai/Uber-Data-Analysis-and-Price-Prediction/blob/main/Uber_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Collection & Preprocessing

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rides = pd.read_csv("/content/cab_rides.csv")
weather = pd.read_csv("/content/weather.csv")

In [ ]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693070 entries, 0 to 693069
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          693070 non-null  float64
 1   cab_type          693070 non-null  object
 2   time_stamp        693070 non-null  float64
 3   destination       693070 non-null  object
 4   source            693070 non-null  object
 5   price             637975 non-null  float64
 6   surge_multiplier  693070 non-null  float64
 7   id                693070 non-null  object
 8   product_id        693070 non-null  object
 9   name              693070 non-null  object
dtypes: float64(4), object(6)
memory usage: 52.9+ MB

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        894 non-null    float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

In [ ]:
weather

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.00,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.00,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.00,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.00,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.00,1012.14,0.1786,1545003901,0.75,11.49
...,...,...,...,...,...,...,...,...
6271,44.72,North Station,0.89,1000.69,NaN,1543819974,0.96,1.52
6272,44.85,Northeastern University,0.88,1000.71,NaN,1543819974,0.96,1.54
6273,44.82,South Station,0.89,1000.70,NaN,1543819974,0.96,1.54
6274,44.78,Theatre District,0.89,1000.70,NaN,1543819974,0.96,1.54
6275,44.69,West End,0.89,1000.70,NaN,1543819974,0.96,1.52

In [ ]:
weather.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [ ]:
weather.fillna(0,inplace=True)

In [ ]:
weather.isna().sum()

temp          0
location      0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [ ]:
weather.groupby('location').mean()

,temp,clouds,pressure,rain,time_stamp,humidity,wind
location,,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,1.543857e+09,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,1.543857e+09,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,1.543857e+09,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,1.543857e+09,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,1.543857e+09,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.008660,1.543857e+09,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.008644,1.543857e+09,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.008649,1.543857e+09,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.007358,1.543857e+09,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.008310,1.543857e+09,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.008405,1.543857e+09,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.008657,1.543857e+09,0.767266,6.816233

In [ ]:
avg_weather=weather.groupby('location').mean().reset_index(drop=False)
avg_weather.drop('time_stamp',axis=1,inplace=True)
avg_weather

,location,temp,clouds,pressure,rain,humidity,wind
0,Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

In [ ]:
source_weather=avg_weather.rename(
    columns={
        'location': 'source',
        'temp': 'source_temp',
        'clouds': 'source_clouds',
        'pressure': 'source_pressure',
        'rain': 'source_rain',
        'humidity': 'source_humidity',
        'wind': 'source_wind',  
    }
)

source_weather

,source,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind
0,Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

In [ ]:
dest_weather=avg_weather.rename(
    columns={
        'location': 'destination',
        'temp': 'dest_temp',
        'clouds': 'dest_clouds',
        'pressure': 'dest_pressure',
        'rain': 'dest_rain',
        'humidity': 'dest_humidity',
        'wind': 'dest_wind',  
    }
)

dest_weather

,destination,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,Back Bay,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.007343,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233

In [ ]:
rides

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693065,1.00,Uber,1.540000e+12,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693066,1.00,Uber,1.540000e+12,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693067,1.00,Uber,1.540000e+12,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693068,1.00,Uber,1.540000e+12,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693069,1.00,Uber,1.540000e+12,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [ ]:
rides.drop('id',axis=1,inplace=True)
rides

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,product_id,name
0,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared
1,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux
2,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,7.0,1.0,lyft,Lyft
3,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...
693065,1.00,Uber,1.540000e+12,North End,West End,13.0,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693066,1.00,Uber,1.540000e+12,North End,West End,9.5,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693067,1.00,Uber,1.540000e+12,North End,West End,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693068,1.00,Uber,1.540000e+12,North End,West End,27.0,1.0,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693069,1.00,Uber,1.540000e+12,North End,West End,10.0,1.0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [ ]:
rides.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
product_id              0
name                    0
dtype: int64

In [ ]:
rides.dropna(axis=0,inplace=True)

In [ ]:
rides.isna().sum()

distance            0
cab_type            0
time_stamp          0
destination         0
source              0
price               0
surge_multiplier    0
product_id          0
name                0
dtype: int64

In [ ]:
ana_data = rides.merge(source_weather, on='source').merge(dest_weather, on='destination')
ana_data

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,product_id,name,source_temp,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,27.5,1.0,lyft_luxsuv,Lux Black XL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637971,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,5.0,1.0,lyft_line,Shared,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637972,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,16.5,1.0,lyft_lux,Lux Black,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637973,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,10.5,1.0,lyft_plus,Lyft XL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637974,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,13.5,1.0,lyft_premier,Lux,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
ana_data_cpy=ana_data.copy()

In [ ]:
ana_data_cpy

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,27.5,1.0,27e0c87b-2fe6-41e3-91c1-49119da998b0,lyft_luxsuv,Lux Black XL,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637971,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,5.0,1.0,4a8497f3-e93e-471d-bc6a-2230027a179d,lyft_line,Shared,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637972,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,16.5,1.0,5fb62b74-4383-4872-89f3-2021bf5943fd,lyft_lux,Lux Black,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637973,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,10.5,1.0,608d9d2b-c195-47eb-aff5-7d25448186a3,lyft_plus,Lyft XL,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637974,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,13.5,1.0,64941bda-40bc-4e2d-bd8f-4a4338b41ee5,lyft_premier,Lux,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
ana_data_cpy=ana_data_cpy[ana_data_cpy['cab_type']!="Lyft"]
ana_data_cpy.reset_index()

,index,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,6,0.49,Uber,1.540000e+12,North Station,Haymarket Square,15.0,1.0,a03f131a-3136-4bb3-9fd4-5926ad8f5323,6c84fd89-3f11-4782-9b50-97c468b19529,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,7,0.49,Uber,1.540000e+12,North Station,Haymarket Square,7.0,1.0,a140fd91-dae2-4b64-b547-04810fe5a433,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,8,0.49,Uber,1.540000e+12,North Station,Haymarket Square,7.0,1.0,2332b362-4764-4014-9f3c-6a3f6afae22d,55c66225-fbe7-4fd5-9072-eab1ece5e23e,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,9,0.49,Uber,1.540000e+12,North Station,Haymarket Square,27.5,1.0,a447c0a1-20d8-4e73-97c0-b4f766ff7205,6d318bcc-22a3-4af6-bddd-b409bfce1546,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,10,0.49,Uber,1.540000e+12,North Station,Haymarket Square,7.0,1.0,ac47b3ee-6e25-4b9f-82c8-696afb087f2d,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330562,637964,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,26.0,1.0,5169fe05-a8ad-4b9c-8854-9217bbaf539c,6d318bcc-22a3-4af6-bddd-b409bfce1546,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
330563,637965,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,7.5,1.0,72cc83c9-c3c9-47b9-a52e-0c36f7e37783,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
330564,637966,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,16.0,1.0,cddbaba0-9c54-4145-a414-3a7773768255,6c84fd89-3f11-4782-9b50-97c468b19529,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
330565,637967,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,12.0,1.0,d5f1ede3-3711-45e2-9311-d92c6755cd22,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
330566,637968,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,7.5,1.0,ed5b1bde-1896-4b00-ac87-78a64099bb26,55c66225-fbe7-4fd5-9072-eab1ece5e23e,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
ana_data_cpy.drop('index',axis=1,inplace=True)

KeyError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

lr=LinearRegression()

In [ ]:
# ana_data_cpy['cab_type']=ana_data_cpy['cab_type'].replace({'Uber' : 1},inplace=True)

# ana_data_cpy

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
6,0.49,None,1.540000e+12,North Station,Haymarket Square,15.0,1.0,a03f131a-3136-4bb3-9fd4-5926ad8f5323,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
7,0.49,None,1.540000e+12,North Station,Haymarket Square,7.0,1.0,a140fd91-dae2-4b64-b547-04810fe5a433,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,0.49,None,1.540000e+12,North Station,Haymarket Square,7.0,1.0,2332b362-4764-4014-9f3c-6a3f6afae22d,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
9,0.49,None,1.540000e+12,North Station,Haymarket Square,27.5,1.0,a447c0a1-20d8-4e73-97c0-b4f766ff7205,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
10,0.49,None,1.540000e+12,North Station,Haymarket Square,7.0,1.0,ac47b3ee-6e25-4b9f-82c8-696afb087f2d,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637964,1.25,None,1.540000e+12,Haymarket Square,Financial District,26.0,1.0,5169fe05-a8ad-4b9c-8854-9217bbaf539c,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637965,1.25,None,1.540000e+12,Haymarket Square,Financial District,7.5,1.0,72cc83c9-c3c9-47b9-a52e-0c36f7e37783,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637966,1.25,None,1.540000e+12,Haymarket Square,Financial District,16.0,1.0,cddbaba0-9c54-4145-a414-3a7773768255,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637967,1.25,None,1.540000e+12,Haymarket Square,Financial District,12.0,1.0,d5f1ede3-3711-45e2-9311-d92c6755cd22,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637968,1.25,None,1.540000e+12,Haymarket Square,Financial District,7.5,1.0,ed5b1bde-1896-4b00-ac87-78a64099bb26,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
y=ana_data_cpy['price']
x=ana_data_cpy.drop('price',axis=1)

In [ ]:
y

6         15.0
7          7.0
8          7.0
9         27.5
10         7.0
          ...
637964    26.0
637965     7.5
637966    16.0
637967    12.0
637968     7.5
Name: price, Length: 330567, dtype: float64

In [ ]:
x

,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,source_temp,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
6,0.49,Uber,1.540000e+12,North Station,Haymarket Square,1.0,a03f131a-3136-4bb3-9fd4-5926ad8f5323,6c84fd89-3f11-4782-9b50-97c468b19529,Black,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
7,0.49,Uber,1.540000e+12,North Station,Haymarket Square,1.0,a140fd91-dae2-4b64-b547-04810fe5a433,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
8,0.49,Uber,1.540000e+12,North Station,Haymarket Square,1.0,2332b362-4764-4014-9f3c-6a3f6afae22d,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
9,0.49,Uber,1.540000e+12,North Station,Haymarket Square,1.0,a447c0a1-20d8-4e73-97c0-b4f766ff7205,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
10,0.49,Uber,1.540000e+12,North Station,Haymarket Square,1.0,ac47b3ee-6e25-4b9f-82c8-696afb087f2d,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637964,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,1.0,5169fe05-a8ad-4b9c-8854-9217bbaf539c,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637965,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,1.0,72cc83c9-c3c9-47b9-a52e-0c36f7e37783,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637966,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,1.0,cddbaba0-9c54-4145-a414-3a7773768255,6c84fd89-3f11-4782-9b50-97c468b19529,Black,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637967,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,1.0,d5f1ede3-3711-45e2-9311-d92c6755cd22,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637968,1.25,Uber,1.540000e+12,Haymarket Square,Financial District,1.0,ed5b1bde-1896-4b00-ac87-78a64099bb26,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,random_state=101)

In [ ]:
from sklearn.preprocessing import StandardScaler
scl=StandardScaler()

In [ ]:
scl.fit(x_train)

ValueError: ignored

In [ ]:
x_train

,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,source_temp,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
92995,1.63,Uber,1.550000e+12,West End,South Station,1.0,5a342266-3b80-46d9-b9a5-946a405a611c,6c84fd89-3f11-4782-9b50-97c468b19529,Black,39.394092,...,1008.438031,0.008310,0.755468,6.848948,38.983403,0.677247,1008.441090,0.008657,0.767266,6.816233
318595,4.55,Uber,1.540000e+12,Financial District,Northeastern University,1.0,a1f308a6-386f-4cda-abee-dbaf66d1c64a,6c84fd89-3f11-4782-9b50-97c468b19529,Black,38.975086,...,1008.444168,0.007358,0.767648,6.749426,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019
48307,3.22,Uber,1.540000e+12,North Station,Northeastern University,1.0,9cc838b9-c76c-4903-bf8a-9609b0040e1a,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,38.975086,...,1008.444168,0.007358,0.767648,6.749426,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
337258,1.97,Uber,1.550000e+12,Northeastern University,Beacon Hill,1.0,29cf7203-f185-41f0-a862-8030a60f471f,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,39.047285,...,1008.448356,0.008297,0.765048,6.810325,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426
551439,2.48,Uber,1.540000e+12,South Station,Beacon Hill,1.0,382f22e2-4239-4859-aa04-7b2ffd6338d5,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,39.047285,...,1008.448356,0.008297,0.765048,6.810325,39.394092,0.677495,1008.438031,0.008310,0.755468,6.848948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602047,0.56,Uber,1.540000e+12,Haymarket Square,North Station,1.0,35fd1f80-eb45-4c3e-9cdc-fa69c0250c3b,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,39.035315,...,1008.442811,0.008649,0.765545,6.835755,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
263600,1.64,Uber,1.540000e+12,Back Bay,Northeastern University,1.0,6aa215a1-ec87-48dc-8964-844bf69e6de0,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV,38.975086,...,1008.444168,0.007358,0.767648,6.749426,39.082122,0.678432,1008.447820,0.007925,0.764073,6.778528
395162,1.35,Uber,1.540000e+12,North End,Beacon Hill,1.0,11041797-b568-476a-9231-559a745e311a,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,39.047285,...,1008.448356,0.008297,0.765048,6.810325,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
414103,1.03,Uber,1.540000e+12,North End,West End,1.0,1cd2ef42-ded6-4d5a-ab8a-d3839057a8e8,6c84fd89-3f11-4782-9b50-97c468b19529,Black,38.983403,...,1008.441090,0.008657,0.767266,6.816233,39.090841,0.676730,1008.441912,0.008644,0.764054,6.853117
341600,1.97,Uber,1.540000e+12,Northeastern University,Beacon Hill,1.0,c77e49e3-e1b5-4ea6-8987-5749dcd60ba2,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,39.047285,...,1008.448356,0.008297,0.765048,6.810325,38.975086,0.678317,1008.444168,0.007358,0.767648,6.749426

In [ ]:
lr.fit(x_train,y_train)

ValueError: ignored

In [ ]:
ana_data

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,27.5,1.0,27e0c87b-2fe6-41e3-91c1-49119da998b0,lyft_luxsuv,Lux Black XL,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637971,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,5.0,1.0,4a8497f3-e93e-471d-bc6a-2230027a179d,lyft_line,Shared,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637972,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,16.5,1.0,5fb62b74-4383-4872-89f3-2021bf5943fd,lyft_lux,Lux Black,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637973,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,10.5,1.0,608d9d2b-c195-47eb-aff5-7d25448186a3,lyft_plus,Lyft XL,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637974,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,13.5,1.0,64941bda-40bc-4e2d-bd8f-4a4338b41ee5,lyft_premier,Lux,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

# Linear Regression

In [ ]:
cp2=ana_data.copy()

In [ ]:
cp2

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,product_id,name,source_temp,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,Lyft,1.540000e+12,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,27.5,1.0,lyft_luxsuv,Lux Black XL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637971,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,5.0,1.0,lyft_line,Shared,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637972,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,16.5,1.0,lyft_lux,Lux Black,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637973,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,10.5,1.0,lyft_plus,Lyft XL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637974,0.99,Lyft,1.540000e+12,Haymarket Square,Financial District,13.5,1.0,lyft_premier,Lux,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
cp2['cab_type']=cp2['cab_type'].replace({'Lyft':0, 'Uber':1})
cp2

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,product_id,name,source_temp,...,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,0.44,0,1.540000e+12,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,0,1.540000e+12,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,0,1.540000e+12,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,0,1.540000e+12,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,0,1.540000e+12,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,39.067897,...,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,Haymarket Square,Financial District,27.5,1.0,lyft_luxsuv,Lux Black XL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637971,0.99,0,1.540000e+12,Haymarket Square,Financial District,5.0,1.0,lyft_line,Shared,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637972,0.99,0,1.540000e+12,Haymarket Square,Financial District,16.5,1.0,lyft_lux,Lux Black,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637973,0.99,0,1.540000e+12,Haymarket Square,Financial District,10.5,1.0,lyft_plus,Lyft XL,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637974,0.99,0,1.540000e+12,Haymarket Square,Financial District,13.5,1.0,lyft_premier,Lux,39.410822,...,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
cp2['cab_type'].value_counts()[0]

307408

In [ ]:
cp2['cab_type'].value_counts()[1]

330567

In [ ]:
y=cp2['price']
x=cp2.drop('price',axis=1)

In [ ]:
x

,distance,cab_type,time_stamp,destination,source,surge_multiplier,product_id,name,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,dest_temp,dest_clouds,dest_pressure,dest_rain,dest_humidity,dest_wind
0,0.44,0,1.540000e+12,North Station,Haymarket Square,1.0,lyft_line,Shared,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
1,0.44,0,1.540000e+12,North Station,Haymarket Square,1.0,lyft_premier,Lux,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
2,0.44,0,1.540000e+12,North Station,Haymarket Square,1.0,lyft,Lyft,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
3,0.44,0,1.540000e+12,North Station,Haymarket Square,1.0,lyft_luxsuv,Lux Black XL,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
4,0.44,0,1.540000e+12,North Station,Haymarket Square,1.0,lyft_plus,Lyft XL,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,Haymarket Square,Financial District,1.0,lyft_luxsuv,Lux Black XL,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637971,0.99,0,1.540000e+12,Haymarket Square,Financial District,1.0,lyft_line,Shared,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637972,0.99,0,1.540000e+12,Haymarket Square,Financial District,1.0,lyft_lux,Lux Black,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637973,0.99,0,1.540000e+12,Haymarket Square,Financial District,1.0,lyft_plus,Lyft XL,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193
637974,0.99,0,1.540000e+12,Haymarket Square,Financial District,1.0,lyft_premier,Lux,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,39.067897,0.676711,1008.445239,0.008660,0.764837,6.843193

In [ ]:
y

0          5.0
1         11.0
2          7.0
3         26.0
4          9.0
          ...
637970    27.5
637971     5.0
637972    16.5
637973    10.5
637974    13.5
Name: price, Length: 637975, dtype: float64

In [ ]:
cp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637975 entries, 0 to 637974
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          637975 non-null  float64
 1   cab_type          637975 non-null  int64
 2   time_stamp        637975 non-null  float64
 3   destination       637975 non-null  object
 4   source            637975 non-null  object
 5   price             637975 non-null  float64
 6   surge_multiplier  637975 non-null  float64
 7   product_id        637975 non-null  object
 8   name              637975 non-null  object
 9   source_temp       637975 non-null  float64
 10  source_clouds     637975 non-null  float64
 11  source_pressure   637975 non-null  float64
 12  source_rain       637975 non-null  float64
 13  source_humidity   637975 non-null  float64
 14  source_wind       637975 non-null  float64
 15  dest_temp         637975 non-null  float64
 16  dest_clouds       637975 non-null  float64
 17  dest_pressure     637975 non-null  float64
 18  dest_rain         637975 non-null  float64
 19  dest_humidity     637975 non-null  float64
 20  dest_wind         637975 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 107.1+ MB

In [ ]:
cp2.drop(['id'],axis=1,inplace=True)

KeyError: ignored

In [ ]:
cp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637975 entries, 0 to 637974
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          637975 non-null  float64
 1   cab_type          637975 non-null  int64
 2   time_stamp        637975 non-null  float64
 3   destination       637975 non-null  object
 4   source            637975 non-null  object
 5   price             637975 non-null  float64
 6   surge_multiplier  637975 non-null  float64
 7   product_id        637975 non-null  object
 8   name              637975 non-null  object
 9   source_temp       637975 non-null  float64
 10  source_clouds     637975 non-null  float64
 11  source_pressure   637975 non-null  float64
 12  source_rain       637975 non-null  float64
 13  source_humidity   637975 non-null  float64
 14  source_wind       637975 non-null  float64
 15  dest_temp         637975 non-null  float64
 16  dest_clouds       637975 non-null  float64
 17  dest_pressure     637975 non-null  float64
 18  dest_rain         637975 non-null  float64
 19  dest_humidity     637975 non-null  float64
 20  dest_wind         637975 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 107.1+ MB

In [ ]:
{column : len(cp2[column].unique()) for column in cp2.select_dtypes('object').columns}

{'destination': 12, 'name': 12, 'product_id': 12, 'source': 12}

In [ ]:
#One-hot encoding to convert all object values to integers & facilitate scaling

def onehot_encode(df,column,prefix):
  data=df.copy()
  dummies=pd.get_dummies(df[column],prefix=prefix)
  data=pd.concat([df,dummies],axis=1)
  data=data.drop(column,axis=1)

  return data

In [ ]:
for column,prefix in [('destination', 'dest'), ('name', 'name'), ('product_id', 'pid'), ('source', 'src')]:
  cp2 = onehot_encode(cp2,column=column,prefix=prefix)

In [ ]:
cp2

,distance,cab_type,time_stamp,price,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.44,0,1.540000e+12,5.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
1,0.44,0,1.540000e+12,11.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
2,0.44,0,1.540000e+12,7.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
3,0.44,0,1.540000e+12,26.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
4,0.44,0,1.540000e+12,9.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,27.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637971,0.99,0,1.540000e+12,5.0,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637972,0.99,0,1.540000e+12,16.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637973,0.99,0,1.540000e+12,10.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637974,0.99,0,1.540000e+12,13.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
lr=LinearRegression()

from sklearn.preprocessing import StandardScaler
scl=StandardScaler()

In [ ]:
y=cp2['price']
x=cp2.drop('price',axis=1)

x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)

In [ ]:
x_train

,distance,cab_type,time_stamp,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
455529,3.18,0,1.540000e+12,2.0,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302,...,0,0,0,0,0,0,0,0,1,0
564758,0.62,0,1.540000e+12,1.0,38.986711,0.677763,1008.444742,0.008405,0.767992,6.834302,...,0,0,0,0,0,0,0,0,1,0
608270,1.35,1,1.540000e+12,1.0,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325,...,0,0,0,0,0,0,0,0,0,0
447791,2.38,0,1.540000e+12,1.0,39.047285,0.677801,1008.448356,0.008297,0.765048,6.810325,...,0,0,0,0,0,0,0,0,0,0
417124,1.21,1,1.540000e+12,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371403,3.30,1,1.540000e+12,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,...,0,0,1,0,0,0,0,0,0,0
491263,3.10,0,1.540000e+12,1.0,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755,...,0,0,0,0,0,1,0,0,0,0
470924,4.48,1,1.540000e+12,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,6.860019,...,0,0,1,0,0,0,0,0,0,0
491755,3.01,1,1.540000e+12,1.0,39.035315,0.676998,1008.442811,0.008649,0.765545,6.835755,...,0,0,0,0,0,1,0,0,0,0
128037,2.98,1,1.540000e+12,1.0,39.047744,0.679235,1008.459254,0.007738,0.763786,6.692180,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
# Scaling of training set (value ranges are spread across)
# Standard scaler scales the values to an extent where mean is almost = 0 & variance = 1 for all the records 

scl.fit(x_train)

x_train = pd.DataFrame(scl.transform(x_train),columns=x.columns)
x_test = pd.DataFrame(scl.transform(x_test),columns=x.columns)

In [ ]:
x_train

,distance,cab_type,time_stamp,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.873345,-1.036648,-0.37695,10.313410,-0.715196,-0.013963,-0.074029,0.401568,0.954955,0.574647,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,3.311983,-0.300673
1,-1.382909,-1.036648,-0.37695,-0.157896,-0.715196,-0.013963,-0.074029,0.401568,0.954955,0.574647,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,3.311983,-0.300673
2,-0.739524,0.964647,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
3,0.168265,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
4,-0.862913,0.964647,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510375,0.979106,0.964647,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
510376,0.802837,-1.036648,-0.37695,-0.157896,-0.381948,-0.794427,-0.387406,0.912456,0.373973,0.601214,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,3.329867,-0.301168,-0.301629,-0.301934,-0.300673
510377,2.019098,0.964647,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
510378,0.723515,0.964647,-0.37695,-0.157896,-0.381948,-0.794427,-0.387406,0.912456,0.373973,0.601214,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,3.329867,-0.301168,-0.301629,-0.301934,-0.300673
510379,0.697075,0.964647,-0.37695,-0.157896,-0.296735,1.488431,2.280956,-0.992379,-0.043608,-2.023630,...,3.316781,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673

In [ ]:
x_train.mean()

distance                       1.013540e-16
cab_type                       2.357875e-15
time_stamp                    -3.367768e-14
surge_multiplier              -1.941364e-15
source_temp                   -5.507961e-14
                                   ...
src_North Station              7.512152e-16
src_Northeastern University   -4.129086e-15
src_South Station             -3.357558e-15
src_Theatre District          -7.722631e-15
src_West End                   2.522328e-15
Length: 64, dtype: float64

In [ ]:
x_train.var()

distance                       1.000002
cab_type                       1.000002
time_stamp                     1.000002
surge_multiplier               1.000002
source_temp                    1.000002
                                 ...
src_North Station              1.000002
src_Northeastern University    1.000002
src_South Station              1.000002
src_Theatre District           1.000002
src_West End                   1.000002
Length: 64, dtype: float64

In [ ]:
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred = lr.predict(x_test)
#print(y_pred)
y_pred = pd.DataFrame(y_pred)
y_pred

                0
0       28.680751
1       22.258876
2       10.205165
3        9.316005
4        0.976650
...           ...
127590  18.523525
127591  17.467372
127592  11.221279
127593   6.145595
127594  27.687587

[127595 rows x 1 columns]

In [ ]:
x_test

,distance,cab_type,time_stamp,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,-0.827659,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
1,0.115384,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
2,0.370976,0.964647,-0.37695,-0.157896,-0.794903,0.551874,-0.167111,-1.787493,0.873254,-0.977048,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,3.320402,-0.301629,-0.301934,-0.300673
3,1.014360,-1.036648,-0.37695,-0.157896,-0.381948,-0.794427,-0.387406,0.912456,0.373973,0.601214,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,3.329867,-0.301168,-0.301629,-0.301934,-0.300673
4,-1.585619,-1.036648,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127590,-0.483933,0.964647,-0.37695,-0.157896,-0.794903,0.551874,-0.167111,-1.787493,0.873254,-0.977048,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,3.320402,-0.301629,-0.301934,-0.300673
127591,-0.378171,-1.036648,-0.37695,5.077757,-0.715196,-0.013963,-0.074029,0.401568,0.954955,0.574647,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,3.311983,-0.300673
127592,0.415043,0.964647,-0.37695,-0.157896,-0.715196,-0.013963,-0.074029,0.401568,0.954955,0.574647,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,3.311983,-0.300673
127593,0.185892,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
127594,-0.862913,0.964647,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673

In [ ]:
print(lr.score(x_test,y_test))

0.928251180147233

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
ms_error = cross_val_score(lr,x_train,y_train,scoring='neg_mean_squared_error',cv=5)
mean_mse = np.mean(ms_error)
print(mean_mse)

-6.202361258803998

In [ ]:
x_test

,distance,cab_type,time_stamp,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,-0.827659,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
1,0.115384,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
2,0.370976,0.964647,-0.37695,-0.157896,-0.794903,0.551874,-0.167111,-1.787493,0.873254,-0.977048,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,3.320402,-0.301629,-0.301934,-0.300673
3,1.014360,-1.036648,-0.37695,-0.157896,-0.381948,-0.794427,-0.387406,0.912456,0.373973,0.601214,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,3.329867,-0.301168,-0.301629,-0.301934,-0.300673
4,-1.585619,-1.036648,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127590,-0.483933,0.964647,-0.37695,-0.157896,-0.794903,0.551874,-0.167111,-1.787493,0.873254,-0.977048,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,3.320402,-0.301629,-0.301934,-0.300673
127591,-0.378171,-1.036648,-0.37695,5.077757,-0.715196,-0.013963,-0.074029,0.401568,0.954955,0.574647,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,3.311983,-0.300673
127592,0.415043,0.964647,-0.37695,-0.157896,-0.715196,-0.013963,-0.074029,0.401568,0.954955,0.574647,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,3.311983,-0.300673
127593,0.185892,-1.036648,-0.37695,-0.157896,-0.299881,0.025061,0.512390,0.176906,0.255961,0.136300,...,-0.301497,-0.301714,-0.304246,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673
127594,-0.862913,0.964647,-0.37695,-0.157896,2.192663,-1.067589,-1.526114,0.733765,-2.167824,1.044805,...,-0.301497,-0.301714,3.286815,-0.301799,-0.301192,-0.300312,-0.301168,-0.301629,-0.301934,-0.300673

# Lasso Regression (Error)

In [ ]:
from sklearn.linear_model import Lasso
lso = Lasso()

from sklearn.model_selection import GridSearchCV

In [ ]:
cp3 = cp2.copy()
cp3

,distance,cab_type,time_stamp,price,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.44,0,1.540000e+12,5.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
1,0.44,0,1.540000e+12,11.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
2,0.44,0,1.540000e+12,7.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
3,0.44,0,1.540000e+12,26.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
4,0.44,0,1.540000e+12,9.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,27.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637971,0.99,0,1.540000e+12,5.0,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637972,0.99,0,1.540000e+12,16.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637973,0.99,0,1.540000e+12,10.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637974,0.99,0,1.540000e+12,13.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
y=cp3['price']
x=cp3.drop('price',axis=1)

x1_train,x1_test,y1_train,y1_test = train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)

In [ ]:
scl.fit(x1_train)

x1_train = pd.DataFrame(scl.transform(x1_train),columns=x.columns)
x1_test = pd.DataFrame(scl.transform(x1_test),columns=x.columns)

In [ ]:
params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,15,20,25]}

lso_regressor=GridSearchCV(lso,params,scoring='neg_mean_squared_error',cv=5)
lso_regressor.fit(x,y)

# Ridge Regression

In [ ]:
from sklearn.linear_model import Ridge
rdg = Ridge()

In [ ]:
cp4 = cp2.copy()
cp4

,distance,cab_type,time_stamp,price,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.44,0,1.540000e+12,5.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
1,0.44,0,1.540000e+12,11.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
2,0.44,0,1.540000e+12,7.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
3,0.44,0,1.540000e+12,26.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
4,0.44,0,1.540000e+12,9.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,27.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637971,0.99,0,1.540000e+12,5.0,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637972,0.99,0,1.540000e+12,16.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637973,0.99,0,1.540000e+12,10.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637974,0.99,0,1.540000e+12,13.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
y=cp4['price']
x=cp4.drop('price',axis=1)

x2_train,x2_test,y2_train,y2_test = train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)

In [ ]:
scl.fit(x2_train)

x2_train = pd.DataFrame(scl.transform(x2_train),columns=x.columns)
x2_test = pd.DataFrame(scl.transform(x2_test),columns=x.columns)

In [ ]:
params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,15,20,25]}

rdg_regressor=GridSearchCV(rdg,params,scoring='neg_mean_squared_error',cv=5)
rdg_regressor.fit(x2_train,y2_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   15, 20, 25]},
             scoring='neg_mean_squared_error')

In [ ]:
print(rdg_regressor.best_params_)
print(rdg_regressor.best_score_)

{'alpha': 5}
-6.201621439512637

In [ ]:
rdg.fit(x2_train,y2_train)

Ridge()

In [ ]:
print(rdg.score(x2_test,y2_test))

0.9282590046173477

In [ ]:
print(rdg_regressor.score(x2_test,y2_test))

-6.232426632333889

# Ada Boost (Error)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [ ]:
cp5=cp2.copy()
cp5

,distance,cab_type,time_stamp,price,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.44,0,1.540000e+12,5.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
1,0.44,0,1.540000e+12,11.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
2,0.44,0,1.540000e+12,7.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
3,0.44,0,1.540000e+12,26.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
4,0.44,0,1.540000e+12,9.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,27.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637971,0.99,0,1.540000e+12,5.0,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637972,0.99,0,1.540000e+12,16.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637973,0.99,0,1.540000e+12,10.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637974,0.99,0,1.540000e+12,13.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
y=cp5['price']
x=cp5.drop('price',axis=1)

x3_train,x3_test,y3_train,y3_test = train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)

In [ ]:
scl.fit(x3_train)

x3_train = pd.DataFrame(scl.transform(x3_train),columns=x.columns)
x3_test = pd.DataFrame(scl.transform(x3_test),columns=x.columns)

In [ ]:
ada = AdaBoostClassifier(n_estimators=100,learning_rate=1)

In [ ]:
ada_model = ada.fit(x3_train,y3_train)

ValueError: ignored

In [ ]:
from sklearn import preprocessing
from sklearn import utils

In [ ]:
lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(x3_train)

ValueError: ignored

In [ ]:
y

0          5.0
1         11.0
2          7.0
3         26.0
4          9.0
          ...
637970    27.5
637971     5.0
637972    16.5
637973    10.5
637974    13.5
Name: price, Length: 637975, dtype: float64

In [ ]:
x3_train = x3_train.astype('int')
y3_train = y3_train.astype('int')

In [ ]:
x3_train

,distance,cab_type,time_stamp,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0,-1,0,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
1,-1,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,2,-1,-1,0,-2,1,...,0,0,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510375,0,0,0,0,2,-1,-1,0,-2,1,...,0,0,3,0,0,0,0,0,0,0
510376,0,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
510377,2,0,0,0,2,-1,-1,0,-2,1,...,0,0,3,0,0,0,0,0,0,0
510378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
510379,0,0,0,0,0,1,2,0,0,-2,...,3,0,0,0,0,0,0,0,0,0

In [ ]:
model = ada.fit(x3_train,y3_train)

# XG Boost (Error)

In [ ]:
cp6 = cp2.copy()
cp6

,distance,cab_type,time_stamp,price,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.44,0,1.540000e+12,5.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
1,0.44,0,1.540000e+12,11.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
2,0.44,0,1.540000e+12,7.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
3,0.44,0,1.540000e+12,26.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
4,0.44,0,1.540000e+12,9.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,27.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637971,0.99,0,1.540000e+12,5.0,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637972,0.99,0,1.540000e+12,16.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637973,0.99,0,1.540000e+12,10.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637974,0.99,0,1.540000e+12,13.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
y=cp6['price']
x=cp6.drop('price',axis=1)

x4_train,x4_test,y4_train,y4_test = train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)

In [ ]:
scl.fit(x4_train)

x4_train = pd.DataFrame(scl.transform(x4_train),columns=x.columns)
x4_test = pd.DataFrame(scl.transform(x4_test),columns=x.columns)

In [ ]:
import xgboost
from sklearn.metrics import roc_auc_score

In [ ]:
xgboost_model = xgboost.XGBClassifier(learning_rate=0.1,
                                      max_depth=5,
                                      n_estimators=5000,
                                      subsample=0.5,
                                      colsample_bytree=0.5,
                                      eval_metric='auc',
                                      verbosity=1)

eval_set = [(x4_test, y4_test)]

xgboost_model.fit(x4_train,y4_train,early_stopping_rounds=10,eval_set=eval_set,verbose=True)

ValueError: ignored

# Random Forest

In [ ]:
cp7 = cp2.copy()
cp7

,distance,cab_type,time_stamp,price,surge_multiplier,source_temp,source_clouds,source_pressure,source_rain,source_humidity,...,src_Boston University,src_Fenway,src_Financial District,src_Haymarket Square,src_North End,src_North Station,src_Northeastern University,src_South Station,src_Theatre District,src_West End
0,0.44,0,1.540000e+12,5.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
1,0.44,0,1.540000e+12,11.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
2,0.44,0,1.540000e+12,7.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
3,0.44,0,1.540000e+12,26.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
4,0.44,0,1.540000e+12,9.0,1.0,39.067897,0.676711,1008.445239,0.008660,0.764837,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637970,0.99,0,1.540000e+12,27.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637971,0.99,0,1.540000e+12,5.0,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637972,0.99,0,1.540000e+12,16.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637973,0.99,0,1.540000e+12,10.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0
637974,0.99,0,1.540000e+12,13.5,1.0,39.410822,0.676730,1008.435793,0.008563,0.754837,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
y=cp7['price']
x=cp7.drop('price',axis=1)

x5_train,x5_test,y5_train,y5_test = train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)

In [ ]:
scl.fit(x5_train)

x5_train = pd.DataFrame(scl.transform(x5_train),columns=x.columns)
x5_test = pd.DataFrame(scl.transform(x5_test),columns=x.columns)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rgr = RandomForestRegressor(n_estimators=280, random_state = 1)

In [ ]:
rgr.fit(x5_train,y5_train)

RandomForestRegressor(n_estimators=280, random_state=1)

In [ ]:
print(rgr.score(x5_test,y5_test))

0.9690165232237318

In [ ]:
rfr_pred= rgr.predict(x5_test)
rfr_pred

array([27.02350421, 22.5       , 10.57049479, ..., 10.46301435,
        6.63822069, 26.92238064])

In [ ]:
y5_test

606014    27.5
503810    22.5
207240    10.5
331602     7.0
584693     7.0
          ...
261747    19.0
613221    11.0
458598     9.5
554569     7.0
420872    27.5
Name: price, Length: 127595, dtype: float64

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
confusion_matrix(y_test, rfr_pred)

ValueError: ignored

In [ ]:
rfr_rmse=np.sqrt(neg_mean_squared_error(rgr_pred, y5_test))

NameError: ignored